.elementor-15 .elementor-element.elementor-element-d5a1bcf > .elementor-container {max-width: 882px;}
.elementor-15 .elementor-element.elementor-element-32f0cbf .elementor-text-editor {text-align: center;}
.elementor-15 .elementor-element.elementor-element-080d49d .elementor-text-editor {text-align: center;}
.elementor-15 .elementor-element.elementor-element-f6b839f .gallery-item .gallery-caption {text-align: center;}
.elementor-15 .elementor-element.elementor-element-6c28ebe {--divider-border-style: solid;--divider-border-color: #115a1b;--divider-border-width: 1px;}
.elementor-15 .elementor-element.elementor-element-6c28ebe .elementor-divider-separator {width: 100%;}
.elementor-15 .elementor-element.elementor-element-6c28ebe .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-15 .elementor-element.elementor-element-d2df61c > .elementor-container {max-width: 750px;}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-col-image {height: 220px;}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-col-content {text-align: left;}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-pagination .pagination {text-align: center;}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-wrapper {padding-right: calc(15px);padding-left: calc(15px);padding-bottom: 30px;}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-container {margin-left: calc(-15px);margin-right: calc(-15px);}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-content {color: #000;}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-footer a {font-size: 13px;font-style: normal;text-decoration: underline;color: #7483c7;background-color: #cff7d4;}
.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-footer a:hover {color: #000;background-color: #fff;}
@media (max-width:1024px) {.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-col-content {text-align: left;}
	.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-pagination .pagination {text-align: center;}}
@media (max-width:767px) {.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-col-content {text-align: center;}
	.elementor-15 .elementor-element.elementor-element-8f3aec1 .obfx-grid-pagination .pagination {text-align: center;}}